* {
    margin: 0;
    padding: 0;
    border: none;
}

/* dyslexic friendly font design choice */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
/* placeholder color to be changed */
    color: darkslategray;
}

.about-container {
    margin: 100px auto;
    width: 80%;
    max-width: 1200px;
    border: 1px solid black;
    height: 420px;
    overflow: hidden;
}

/* this hasn't moved the text as expected - to be looked at next session */
#about-header {
    margin: 5%;
}

.col {
    width: 34%;
    height: 600px;
    color: #EFC3C8;
    overflow: hidden;
    display: block;
    transform: rotate(10deg);
}

#about-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#about-center {
    padding-top: 30px;
    width: 34%;
    float: left;
}

#about-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.about-img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200%;
    height: 300px;
    position: relative;
    background-color: grey;
    margin: 0 0 0 -20%;
}

.left-img {
    background-image: url(../images/about1.jpg);
    background-position: 50% 50%;
}

.center-img {
    background-image: url(../images/about2.jpg);
    background-position: center;
}


.right-img {
    background-image: url(../images/about3.jpg);
    background-position: center;
    float: right;
}

.col-10degree-rotate {
    transform: rotate(-10deg);
}

#olympics-overview {
    background-color: #EFC3C8;
    margin: 2%;
}

#olympics-overview p {
    color: darkslategray;
}